*{
    padding: 0px;
    margin: 6px;
    background-color: #9BEC00;
    
}
#header{
    margin: auto;
    width:  300;
    border-radius:10px;
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color: #FFDB00;
    color: #fff;
    border:solid;
    border-radius:10px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
.nav > li{
    float: left;
}
.nav li a:hover{
    background-color: #696666;
}


p{
    text-align: justify;
    font-size: 16px;
    font-family: "Cactus Classical Serif", serif;
    font-weight: 400;
    font-style: normal;
    
}


  
h1{
    color: #f7fbff;
    background-color: #211951;
    border:solid;
    border-radius: 20px;
    border-color: #FF004D;
    padding: 20px;
    text-align: center;
}

html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    background: #6499E9;
  }
  
  